# mod_rewrite starts here

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} ! -d

# Check for file in directory with .html extension

RewriteCond %{REQUEST-FILENAME}\.html -f

RewriteRule ^(.*)$ $1.html [NC,L]
